.NavBar {
    overflow: hidden;
    width: 380px;
    position: absolute;
    right: 5%;
    top: 5%;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.NavBar a {
    text-decoration: none;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 14px 26px;
    font-size: 1em;
    color: white;
}

.NavBar a:hover {
    background-color: rgba(30, 30, 170, 0.5);
    color: white;
    border-radius: 10%;
}