.NavBar {
    width: 380px;
    position: fixed;
    right: 0;
    top: 3%;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 1;
}

.NavBar-element {
    text-decoration: none;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 14px 26px;
    font-size: 1em;
    color: white;
}

.NavBar-element:hover {
    background-color: rgba(30, 30, 170, 0.5);
    color: white;
    border-radius: 10%;
}