.splash-text {
    position: absolute;
    left: 10%;
    top: 40%;
    text-align: left;
    line-height: 2;
    letter-spacing: .5px;
}

.reach-out-btn {
    text-align: left;
    border-radius: 15px;
    border: 1px solid #1a1a1a;
    background-color: #1e1eaa;
    margin-top: 10px;
}

.explore-btn {
    text-align: left;
    margin-left: 2%;
    border-radius: 15px;
    border: 1px solid #213547;
}

.call-to-action-container {
    width: 450px;
}

.drag-around-img {
    position: absolute;
    left: 50%;
    bottom: 10%;
    opacity: 70%;
    width: 50px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes example {
    from {
        bottom: 5%
    }
    to {
        bottom: 10%;
    }
}