.splash-text {
    position: absolute;
    left: 10%;
    top: 40%;
    text-align: left;
    line-height: 2;
    letter-spacing: .5px;
}

.reach-out-btn {
    position: absolute;
    left: 10%;
    bottom: 20%;
    text-align: left;
}

.explore-btn {
    position: absolute;
    left: 17%;
    bottom: 20%;
    text-align: left;
}

.drag-around-img {
    position: absolute;
    left: 50%;
    bottom: 10%;
    opacity: 70%;
    width: 50px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes example {
    from {bottom: 5%}
    to {bottom: 10%;}
}